[Simulation Settings]
name = mm5q10k
run_fock = True
run_coherent = True
run_tw = True
plot = True
save = True

[Global Simulation Parameters]
N=10000
c= 30
q = -1240.251
total_time = .5

[TW Parameters]
n_samps = 400

[Fock Simulation Parameters]
time_step= 3e-6

[Coherent State Chebyshev Parameters]
atom_range= 5
mag_range= 5
spinor_phase= 0
n_0 = 10000
mag= 0

[Loops]
n_0: (4990,4998,2)
