[Simulation Settings]
Name = 1-14-16-SpinorSim
run_fock = False
run_coherent = False
run_tw = True
plot = True

[Global Simulation Parameters]
N= 5000
c= 24
magnetic_field= 0
total_time = 0.015

[TW Parameters]
n_samps = 5000

[Fock Simulation Parameters]
time_step= 1e-6

[Coherent State Chebyshev Parameters]
atom_range= 4
mag_range= 4
spinor_phase= 0
n_0 = 4996
mag= 0
