[Simulation Settings]
name = m15q10k
savepath = /home/zachglassman/Downloads/TESTING/simtest
run_fock = False
run_coherent = True
run_tw = False
plot = True
save = True

[Global Simulation Parameters]
N=1000
c= 30
q = -15
total_time = .05
n_0 = 1000
n_1 = 0
n_m1 = 0
spinor_phase= 0

[TW Parameters]
n_samps = 2400

[Fock Simulation Parameters]
time_step= 4e-6

[Coherent State Chebyshev Parameters]
atom_range= 1
mag_range= 1
mag= 0

[Loops]
n_0: (4990,4998,2)
