[Simulation Settings]
name = testing
run_fock = False
run_coherent =False
run_tw = True
plot = True
save = True

[Global Simulation Parameters]
N=10000
c= 30
q = -15
total_time = 1

[TW Parameters]
n_samps = 4000

[Fock Simulation Parameters]
time_step= 3e-6

[Coherent State Chebyshev Parameters]
atom_range= 0
mag_range= 0
spinor_phase= 0
n_0 = 10000
mag= 0

[Loops]
n_0: (4990,4998,2)
